/* .to-do-list{
  color: blue;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
} */
/* li{
  list-style: none;

} */
*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.to-do-list  {
  list-style: none;
  padding-left: 0;

  text-align: center;
} 

ul{
  padding: 0;
}
.to-do-list .listItems li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 0px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  text-align: center;
  border-style: dashed;
  /* border-radius: 10; */
  width: 100%;
}

.to-do-list .listItems .green{
  background-color: green;
}
.to-do-list .listItems .yellow{
  background-color: yellow;
}
.to-do-list .listItems .grey{
  background-color: grey; 
}

